<div id="details-component">
    <app-busy></app-busy>
    <h1><span>{{company.name}}</span></h1>
    <p>Company Number&nbsp;<span>{{company.number}}</span></p>
    <p>Registered office address</p>
    <p><span>{{company.address}}</span></p>
    <p>Company status</p>
    <p><span>{{company.active}}</span></p>
    <p>Company type</p>
    <p><span>{{company.type}}</span></p>
    <p>Incorporated on</p>
    <p><span>{{company.incorporated}}</span></p>
    <a href="#" target="_blank">List Officers</a>
</div>
