@import '../variables.scss';

#officers-component {
    @include flex-column;
    height: 90%;
    justify-content:space-between;
    border: 1px solid black;
    padding-bottom: 2rem;
    padding-left: 1rem;
    
    app-busy {
        @include busy;
    }

    h1>span {
        text-transform: uppercase;
    }

    p>span {
        font-weight: bold;
    }

    #officer-list {
        @include flex-column;
        min-width: 100%;
        align-items: start;
        gap: 0.5rem;

        p {
            @include zero-space;
            
            &:first-child,
            &>span {
                font-weight: bold;
            }
        }
    }
}


